<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{ingredient.add}">Ajout/Modif Ingredient</title>
</head>

<body>
	<main class="container" layout:fragment="content">
		<div class="row">
			<div class="col-1">
				<a th:href="@{/ingredient/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{ingredient.add}">Ajout d'un ingredient</h3>
			</div>
		</div>

		<div th:errors="${ingredient.*}" class="border pl-3 bg-warning">Toutes
			les erreurs</div>

		<form method="post" th:object="${ingredient}"
			th:action="@{/ingredient/add}">
			<div class="form-group">
				<label for="id" th:text="#{ingredient.id}"></label> 
				<input type="text" th:field="*{id}" class="form-control" readonly
					th:classappend="${#fields.hasErrors('id')} ? is-invalid" required />
				<small id="error_id " th:errors="*{id}"
					class="form-text text-danger">Le id est invalide</small>
			</div>
			<div class="form-group">
				<label for="nomProduit" th:text="#{ingredient.nomProduit}"></label>
				<input type="text" th:field="*{nomProduit}" class="form-control"
					th:classappend="${#fields.hasErrors('nomProduit')} ? is-invalid"
					required /> <small id="error_nomProduit" th:errors="*{nomProduit}"
					class="form-text text-danger">Erreur nomProduit</small>
			</div>
			<div class="form-group">
				<label for="dateExpiration" th:text="#{ingredient.dateExpiration}"></label>
				<input type="date" th:field="*{dateExpiration}" class="form-control"
					th:classappend="${#fields.hasErrors('dateExpiration')} ? is-invalid"
					required /> <small id="error_dateExpiration"
					th:errors="*{dateExpiration}" class="form-text text-danger">Erreur
					dateExpirations</small>
			</div>

			<div class="form-group">
				<label for="nomProduit" th:text="#{ingredient.quantiteStock}"></label>
				<input type="text" th:field="*{quantiteStock}" class="form-control"
					th:classappend="${#fields.hasErrors('quantiteStock')} ? is-invalid"
					required /> <small id="error_quantiteStock"
					th:errors="*{quantiteStock}" class="form-text text-danger">Erreur
					nomProduit</small>
			</div>

			<div class="form-group">
				<label for="seuil" th:text="#{ingredient.seuil}"></label> <input
					type="text" th:field="*{seuil}" class="form-control"
					th:classappend="${#fields.hasErrors('seuil')} ? is-invalid"
					required /> <small id="error_seuil" th:errors="*{nomProduit}"
					class="form-text text-danger">Erreur seuil</small>
			</div>

<div class="form-group">
				<label for="prix" th:text="#{ingredient.minimunQtity}"></label> <input
					type="text" th:field="*{minimunQtity}" class="form-control"
					th:classappend="${#fields.hasErrors('minimunQtity')} ? is-invalid" required />
				<small id="error_minimunQtity" th:errors="*{minimunQtity}"
					class="form-text text-danger">Erreur minimunQtity</small>
			</div>



			<div class="form-group">
				<label for="prix" th:text="#{ingredient.priceOfMinimunQtity}"></label> <input
					type="text" th:field="*{priceOfMinimunQtity}" class="form-control"
					th:classappend="${#fields.hasErrors('priceOfMinimunQtity')} ? is-invalid" required />
				<small id="error_priceOfMinimunQtity" th:errors="*{priceOfMinimunQtity}"
					class="form-text text-danger">Erreur prix</small>
			</div>

		<!-- 			lafdil vid 4eme du 25oct 6min 
	 <div class="form-group">
				<div class="custom-control custom-checkbox custom-control-inline"
					th:each="choixCategorie : ${listeDesCategories}">
					<input type="checkbox" class="custom-control-input"
						value="Une Categorie" th:field="*{categories}"
						th:value="${choixCategorie}" /> <label
						class="custom-control-label" th:for="${#ids.prev('categories')}"
						th:text="'&nbsp&nbsp'+${choixSection}">Info </label>
				</div>
				<small th:errors="*{categories}" class="form-text text-danger">Erreur
					Categorie</small>
			</div>  -->


			<!-- 	<div class="form-group">
				<div class="custom-control custom-radio custom-control-inline"
					th:each="choixSection : ${listeDesSections}">
					<input type="radio" class="custom-control-input"
						value="Une Section" th:field="*{sections}"
						th:value="${choixSection}" name="section" /> <label
						class="custom-control-label" th:for="${#ids.prev('sections')}"
						th:text="'&nbsp&nbsp'+${choixSection}">Info </label>
				</div>
				<small th:errors="*{sections}" class="form-text text-danger">Erreur
					Section</small>
			</div> -->



			<button type="submit" class="btn btn-outline-primary"
				th:text="#{action.add}"></button>
		</form>
	</main>
</body>
</html>
