<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{ingredient.detail.titre}">Détail du cours</title>
</head>

<body>

	<main class="container" layout:fragment="content">
		<div class="row">
			<div class="col-1">
				<a th:href="@{/ingredient/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{ingredient.detail.titre}">Titre</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-4" th:text="#{ingredient.id}">id</div>


			<div class="col-8" th:text="${ingredient.id}">Valeur</div>

		</div>

		<div class="row">
			<div class="col-4" th:text="#{ingredient.nomProduit}">nomProduit</div>

			<div class="col-8" th:text="${ingredient.nomProduit}">Valeur</div>

		</div>


		<div class="row">
			<div class="col-4" th:text="#{ingredient.dateExpiration}">dateExpiration</div>

			<div class="col-8" th:text="${ingredient.dateExpiration}">Valeur</div>

		</div>


<div class="row">
			<div class="col-4" th:text="#{ingredient.quantiteStock}">quantiteStock</div>

			<div class="col-8" th:text="${ingredient.quantiteStock}">Valeur</div>

		</div>
		

<div class="row">
			<div class="col-4" th:text="#{ingredient.seuil}">seuil</div>

			<div class="col-8" th:text="${ingredient.seuil}">Valeur</div>

		</div>



<div class="row">
			<div class="col-4" th:text="#{ingredient.minimunQtity}">minimunQtity</div>

			<div class="col-8" th:text="${ingredient.minimunQtity}">Valeur</div>

		</div>


<div class="row">
			<div class="col-4" th:text="#{ingredient.priceOfMinimunQtity}">priceOfMinimunQtity</div>

			<div class="col-8" th:text="${ingredient.priceOfMinimunQtity}">Valeur</div>

		</div>



		<div class="row">
			<div class="col p-2 text-left">
				<a class="btn btn-outline-success"
					th:href="@{|/ingredient/${ingredient.id}/update|}"
					th:text="#{action.update}"></a>
			</div>
		</div>
	</main>

</body>
</html>
