<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{ingredient.liste.titre}">Liste des ingredients</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<div class="row">
			<div class="col">
				<h3 th:text="#{ingredient.liste.titre}"></h3>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div th:if="${!ingredientsList.isEmpty()}">
					<table class="table">
						<thead>
							<tr>
								<th th:text="#{ingredient.id}"></th>
								<th th:text="#{ingredient.nomProduit}"></th>
								<th th:text="#{ingredient.dateExpiration}"></th>
								<th th:text="#{ingredient.quantiteStock}"></th>
								<th th:text="#{ingredient.seuil}"></th>
								<th th:text="#{ingredient.minimunQtity}"></th>
								<th th:text="#{ingredient.priceOfMinimunQtity}"></th>
								<th th:text="#{actionsCRUD}"></th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="ingredient: ${ingredientsList}">
								<td th:text="${ingredient.id}"></td>
								<td th:text="${ingredient.nomProduit}"></td>
								<td th:text="${ingredient.dateExpiration}"></td>
								<td th:text="${ingredient.quantiteStock}"></td>
								<td th:text="${ingredient.seuil}"></td>
								<td th:text="${ingredient.minimunQtity}"></td>
								<td th:text="${ingredient.priceOfMinimunQtity}"></td>



								<td><a th:href="@{'/ingredient/'+ ${ingredient.id}}"> <i
										class="fa fa-eye"></i>
								</a> <a th:href="'/ingredient/' + ${ingredient.id} + '/update'"><i
										class="fa fa-edit"></i></a> <span
									th:lienDelete="@{/ingredient/__${ingredient.id}__/delete}"
									th:onclick='javascript: validationPost(this.getAttribute("lienDelete"))'>
										<i class="fa fa-trash text-danger"></i>
								</span></td>




							</tr>
						</tbody>
					</table>
				</div>
				<div th:unless="${!ingredientsList.isEmpty()}"
					th:text="#{ingredient.Aucun}">La liste des ingredient est
					vide</div>
			</div>
		</div>

	</main>



	<div layout:fragment="optional">
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/myJS.js}"></script>
		<script type="text/javascript" th:inline="javascript">	
       /*<![CDATA[*/
       function validationPost(lien){
		var csrf={};
		csrf[ /*[[${#ctx.containsVariable('_csrf')}? ${_csrf.parameterName}:'_csrf']]*/ '_csrf' ] = /*[[${#ctx.containsVariable('_csrf')}?${_csrf.getToken()}:'']]*/ 'vide';
		bootbox.confirm(/*[[#{msgConfirmDelete}]]*/ 'Sure?',
				function(ok){
					if (ok){ post(lien,csrf);}
				})
		}
        /*]]>*/					      
	  </script>
	</div>
</body>
</html>

