<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>

<!-- Required meta tags for bootstrap-->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Home Page</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<div layout:fragment="content">

		<h1 th:text="${welcome}" style="color: red;">Welcome!</h1>
		<h2 th:text="#{home.titre}">un titre</h2>
		<img th:src="@{/images/sandwich.jfif}" alt="Logo">

	</div>
</body>
</html>