<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{sandwich.add}">Ajout/Modif du sandwich</title>
</head>

<body>
	<main class="container" layout:fragment="content">
		<div class="row">
			<div class="col-1">
				<a th:href="@{/sandwich/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{sandwich.add}">Ajout d'un sandwich</h3>
			</div>
		</div>
		<!--video ici pour les erreurs--tous les champs de moduleDto-	${moduleDto.*} -->

		<div th:errors="${sandwich.*}" class="border pl-3 bg-warning">Toutes
			les erreurs</div>

		<!-- video --moduleDto.cours c'est qqchose a evaluer il va creer 
		un URI  @{'/module/' +... -->
		<form method="post" th:object="${sandwich}"
			th:action="@{/sandwich/add}">
			<div class="form-group">
				<!--13-2Dec--20min -->
				<label for="sandwich" th:text="#{sandwich.id}">sandwich</label> <input
					type="text" th:field="*{id}" class="form-control"
					th:classappend="${#fields.hasErrors('id')} ? is-invalid"
					readonly="readonly" /> <small id="error_id"
					th:errors="*{id}" class="form-text text-danger">Le id est
					invalide</small>
			</div>



			<div class="form-group">
				<label for="name" th:text="#{sandwich.name}"></label> <input
					type="text" th:field="*{name}" class="form-control"
					th:classappend="${#fields.hasErrors('name')} ? is-invalid" required />
				<small id="error_name" th:errors="*{name}"
					class="form-text text-danger">Erreur name </small>
			</div>
			<div class="form-group">
				<label for="price" th:text="#{sandwich.price}"></label> <input
					type="text" th:field="*{price}" class="form-control"
					th:classappend="${#fields.hasErrors('price')} ? is-invalid"
					required /> <small id="error_price" th:errors="*{price}"
					class="form-text text-danger">Erreur prix</small>
			</div>




			<!-- video-- action.add texte d'internationalisation on le bougera pas (nouveau) -->
			<button type="submit" class="btn btn-outline-primary"
				th:text="#{action.add}"></button>
		</form>
	</main>
	<div layout:fragment="optional">
		<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	function selectOne(box){
		const boxes2 =document.querySelectorAll('[id^= moment]')
		boxes2.forEach((item)=>{
		if (item !== box) item.checked = false
})}

/*]]>*/ 
	</script>
	</div>

</body>
</html>
