<!--  a la ligne 4 on a ajoute spring-security -->
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{sandwich.liste.titre}">Liste des sandwiches</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<div class="row">
			<div class="col">
				<h3 th:text="#{sandwich.liste.titre}"></h3>
			</div>
		</div>

		<div class="row">
			<div class="col">

				<div th:if="${!sandwichDtoWrapper.sandwichesDto.isEmpty()}">

					<form th:action="@{/sandwich/order}" method="post"
						th:object="${sandwichDtoWrapper}">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />

						<table class="table">

							<thead>
								<tr>
									<th th:text="#{sandwich.id}">id</th>
									<th th:text="#{sandwich.name}">name</th>
									<th th:text="#{sandwich.price}">price</th>

									<th th:text="#{actionsCRUD}">CRUD</th>

									<th>Select</th>

									<th>Quantity</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="sandwich, row: ${sandwichDtoWrapper.sandwichesDto}">

									<td >
									<span th:text="${sandwich.id}">IPID-1A</span>
									<input hidden="true" value="${sandwich.id}"
										type="text" th:field="*{sandwichesDto[__${row.index}__].id}" />
									</td>
									
									
									<td >
										<span th:text="${sandwich.name}">IPID-1A</span>
									<input hidden="true" value="${sandwich.name}"
										type="text" th:field="*{sandwichesDto[__${row.index}__].name}" /></td>
										
									<td  > 
										<span th:text="${sandwich.price}">IPID-1A</span>
									<input hidden="true" value="${sandwich.price}"
										type="text" th:field="*{sandwichesDto[__${row.index}__].price}" />
									
									</td>







									</td>
									<td><a th:href="@{'/sandwich/'+ ${sandwich.id}}"> <i
											class="fa fa-eye"></i>

									</a> <a th:href="@{'/sandwich/'+ ${sandwich.id} +'/update'}"> <i
											class="fa-solid fa-pen"></i>

									</a> <span th:lienDelete="@{'/sandwich/__${sandwich.id}__/delete'}"
										th:onclick='javascript: validationPost(this.getAttribute("lienDelete"))'>
											<i class="fa fa-trash text-danger"></i>
									</span> <span> <a
											th:href="@{/sandwich/add}">
												<i class="fa fa-plus" style="font-size: 24px; color: blue"></i>
										</a>
									</span></td>






									<td><input type="checkbox"
										th:field="*{sandwichesDto[__${row.index}__].selected}"
										th:value="${sandwich.selected}" /></td>



									<td><input th:class="form-control" type="text"
										th:field="*{sandwichesDto[__${row.index}__].quantity}"
										th:value="${sandwich.quantity}" style="width: 75px" /></td>

								</tr>
							</tbody>
						</table>

						<button type="submit">Order Now</button>
						<button type="button" onclick="deselectCheckboxes()">Deselect All</button>
						
					</form>
					<!-- s il n ya pas de module du tout il va afficher ca -->
				</div>
				<div th:unless="${!sandwichDtoWrapper.sandwichesDto.isEmpty()}"
					th:text="#{sandwich.Aucun}">La liste des sandwiches est vide</div>
			</div>
		</div>



	</main>
	<div layout:fragment="optional">
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/myJS.js}"></script>
		<script type="text/javascript" th:inline="javascript">	
       /*<![CDATA[*/
       function validationPost(lien){
		var csrf={};
		csrf[ /*[[${#ctx.containsVariable('_csrf')}? ${_csrf.parameterName}:'_csrf']]*/ '_csrf' ] = /*[[${#ctx.containsVariable('_csrf')}?${_csrf.getToken()}:'']]*/ 'vide';
		bootbox.confirm(/*[[#{msgConfirmDelete}]]*/ 'Sure?',
				function(ok){
					if (ok){ post(lien,csrf);}
				})
		}
        /*]]>*/					      
	  </script>
	</div>
</body>
</html>