<!--  a la ligne 4 on a ajoute spring-security -->
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{sandwich.liste.titre}">Liste des sandwiches</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<div class="row">
			<div class="col">
				<h3 th:text="#{sandwich.liste.titre}"></h3>
			</div>
		</div>

		<div class="row">
			<div class="col">

				<div th:if="${!sandwichDtoWrapper.sandwichesDto.isEmpty()}">

					<form th:action="@{/sandwich/order}" method="post"
						th:object="${sandwichDtoWrapper}">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />

						<table class="table">

							<thead>
								<tr>
									<th th:text="#{sandwich.id}">id</th>
									<th th:text="#{sandwich.name}">name</th>
									<th th:text="#{sandwich.price}">price</th>

									<th th:text="#{actionsCRUD}">CRUD</th>

									<th>Select</th>
									<!-- new column for checkboxes -->
									<th>Quantity</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="sandwich, row: ${sandwichDtoWrapper.sandwichesDto}">
									<td th:text="${sandwich.id}"></td>
									<td th:text="${sandwich.name}"></td>
									<td th:text="${sandwich.price}"></td>
									<td><a th:href="@{'/sandwich/'+ ${sandwich.id}}"> <i
											class="fa fa-eye"></i> <!-- 	ici c est une concatenation alors que plus loin ligne 56-th:lienDelete est un preprocessing
										evalue ca avant de former ton string, il y a un seul string -->

									</a> <a th:href="@{'/sandwich/'+ ${sandwich.id} +'/update'}"> <i
											class="fa-solid fa-pen"></i>

									</a> <span th:lienDelete="@{'/sandwich/__${sandwich.id}__/delete'}"
										th:onclick='javascript: validationPost(this.getAttribute("lienDelete"))'>
											<i class="fa fa-trash text-danger"></i>
									</span> <span> <a
											th:href="@{'/ingredient/'+ ${sandwich.id} +'/addSandwich'}">
												<i class="fa fa-plus" style="font-size: 24px; color: blue"></i>
										</a>
									</span></td>

									<!-- <td><input th:class="form-control" type="checkbox"
										th:checked="${sandwichDtoWrapper.sandwichesDto[__${row.index}__].selected}"
										th:value="${sandwich.selected}"  style="width: 16px; height: 16px;" /></td>  -->

									<!-- sandwichDtoWrapper.sandwichesDto -->
									<td><span>IGEB-1-A</span> <input hidden="true"
										type="text" id="sandwichDtoWrapper.sandwichesDto.id" , name="sandwichDtoWrapper.sandwichesDto.id"
										value="1" /></td>


									<td><input type="checkbox"
										th:field="*{sandwichDtoWrapper.sandwichesDto[__${row.index}__].selected}" /></td>


									<!-- 		<td><input th:class="form-control" type="checkbox"
										th:field="*{sandwichDtoWrapper.sandwichesDto[__${row.index}__].selected}"
										th:value="${sandwich.selected}" /></td> -->


									<!-- refers to the quantity field of a sandwich object at the index specified by row.index. 	 -->

									<td><input th:class="form-control" type="text"
										th:field="*{sandwichDtoWrapper.sandwichesDto[__${row.index}__].quantity}"
										th:value="${sandwich.quantity}" /></td>

								</tr>
							</tbody>
						</table>

						<button type="submit">Order Now</button>
					</form>
					<!-- s il n ya pas de module du tout il va afficher ca -->
				</div>
				<div th:unless="${!sandwichDtoWrapper.sandwichesDto.isEmpty()}"
					th:text="#{sandwich.Aucun}">La liste des sandwiches est vide</div>
			</div>
		</div>



	</main>
	<div layout:fragment="optional">
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/myJS.js}"></script>
		<script type="text/javascript" th:inline="javascript">	
       /*<![CDATA[*/
       function validationPost(lien){
		var csrf={};
		csrf[ /*[[${#ctx.containsVariable('_csrf')}? ${_csrf.parameterName}:'_csrf']]*/ '_csrf' ] = /*[[${#ctx.containsVariable('_csrf')}?${_csrf.getToken()}:'']]*/ 'vide';
		bootbox.confirm(/*[[#{msgConfirmDelete}]]*/ 'Sure?',
				function(ok){
					if (ok){ post(lien,csrf);}
				})
		}
        /*]]>*/					      
	  </script>
	</div>
</body>
</html>