<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Order Summary</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Order Summary</h1>
		<h2>Selected Sandwiches:</h2>
		<ul>
			<li th:each="sandwich : ${selectedSandwiches}"><span
				th:text="${sandwich.name}"></span> <span
				th:text="${sandwich.quantity}"></span> <span th:text="'x'"></span> <span
				th:text="${sandwich.price}"></span> <span th:text="'$'"></span></li>
		</ul>
		<h2>Total Price:</h2>
		<p th:text="'$' + ${totalPrice}"></p>
	</div>
</body>
</html>