<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{sandwich.detail.titre}">Détail du sandwich</title>
</head>

<body>

	<main class="container" layout:fragment="content">
		<div class="row">
			<div class="col-1">
				<a th:href="@{/ingredient/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{ingredient.detail.titre}">Titre</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-4" th:text="#{sandwich.id}">id</div>


			<div class="col-8" th:text="${sandwich.id}">Valeur</div>

		</div>

		<div class="row">
			<div class="col-4" th:text="#{sandwich.name}">name</div>

			<div class="col-8" th:text="${sandwich.name}">Valeur</div>

		</div>


		<div class="row">
			<div class="col-4" th:text="#{sandwich.price}">dateExpiration</div>

			<div class="col-8" th:text="${sandwich.price}">Valeur</div>

		</div>






		<div class="row">
			<div class="col p-2 text-left">
				<a class="btn btn-outline-success"
					th:href="@{|/sandwich/${sandwich.id}/update|}"
					th:text="#{action.update}"></a>
			</div>
		</div>
	</main>

</body>
</html>
