<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Sandwich Ingredients</title>
<link rel="stylesheet" th:href="@{/css/sandwich_ingredients.css}">
<link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>
	<main class="container" layout:fragment="content">
		<h1>Sandwich Ingredients</h1>
		<p>
			Ingredients for sandwich: <span th:text="${sandwich.name}"></span>
		</p>
		<table>
			<thead>
				<tr>
					<th class="table-header">Id</th>
					<th class="table-header">Name</th>
				</tr>
			</thead>

			<div class="container">
			<tr th:each="ingredient : ${sandwich.ingredients}">
				<td th:text="${ingredient.id}"></td>
				<td th:text="${ingredient.nomProduit}"></td>
			</tr>
			</div>
		</table>
		<a th:href="@{/sandwich/liste}">Back to Sandwich List</a>
	</main>
</body>
</html>