<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Ingredients of sandwiches</title>
</head>
<body>
	<div layout:fragment="content">
	
		<ul>
			<li th:each="sandwich : ${sandwiches}"><span
				th:text="${sandwich.id}"></span> 
		</ul>
	
	</div>
</body>
</html>