<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Sandwich Not Found</title>
</head>
<body>
	<h1>Sorry, the requested sandwich cannot be found.</h1>
	<p th:text="'Sandwich not found for ID: ' + ${sandwich}"></p>
</body>
</html>