<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout}"
 >
<head >
<title th:text="#{cours.liste.titre}"> Liste des cours</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<div class="row">
			<div class="col">
				<h3 th:text="#{cours.liste.titre}"></h3>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div th:if="${!coursList.isEmpty()}">
					<table class="table">
						<thead>
							<tr>
								<th th:text="#{cours.code}"></th>
								<th th:text="#{cours.nom}"></th>
								<th th:text="#{cours.nbSections}"></th>
								<th th:text="#{actionsCRUD}"></th>
							</tr>
						</thead>

						<tbody >
							<tr th:each="cours: ${coursList}" >
								<td th:text="${cours.code}"></td>
								<td th:text="${cours.nom}"></td>
								<td th:text="${#sets.size(cours.sections)}"></td>
								<td><a th:href="@{'/cours/'+ ${cours.code}}"> 
										<i class="fa fa-eye"></i>
									</a> 
									<a 
									 sec:authorize="hasAnyRole('PROF','ADMIN')"									
									 th:href="@{'/cours/'+ ${cours.code} +'/update'}"> 
								
								<i class="fa-solid fa-pen"></i>
									</a>																
							     <span 	
							     		sec:authorize="hasAnyRole('PROF','ADMIN')"						      
										th:lienDelete="@{'/cours/__${cours.code}__/delete'}"
										th:onclick='javascript: validationPost(this.getAttribute("lienDelete"))'
								    >
								  <i class="fa fa-trash text-danger"></i>
								 </span>
								 <span  >
								 
								 <a th:href="@{'/cours/'+ ${cours.code}}"> 
										<i class="fa fa-plus" style="font-size:24px;color:blue"></i>
									</a>
								 
								 </span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div th:unless="${!coursList.isEmpty()}" th:text="#{cours.Aucun}">
					La liste de cours est vide
				</div>
			</div>
		</div>
		<div class="col">
			<a  class="btn btn-outline-success" 
			    th:href="@{/cours/add}"
				th:text="#{action.add}+' '+#{cours}"></a>
		</div>
	</main>
	<div layout:fragment="optional">
	  <script th:src="@{/webjars/bootbox/bootbox.js}"></script>
	  <script th:src="@{/js/myJS.js}"></script>
	  <script type="text/javascript" th:inline="javascript">	
       /*<![CDATA[*/
       function validationPost(lien){
		var csrf={};
		csrf[ /*[[${#ctx.containsVariable('_csrf')}? ${_csrf.parameterName}:'_csrf']]*/ '_csrf' ] = /*[[${#ctx.containsVariable('_csrf')}?${_csrf.getToken()}:'']]*/ 'vide';
		bootbox.confirm(/*[[#{msgConfirmDelete}]]*/ 'Sure?',
				function(ok){
					if (ok){ post(lien,csrf);}
				})
		}
        /*]]>*/					      
	  </script>
	</div>
</body>
</html>

