@charset "ISO-8859-1";

i:hover {
	background-color: #b8faf7;
}

.footer-message {
	color: red;
	font-size: 16px;
	/* Add any other styles you want */
}


button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 100px;
  cursor: pointer;
  border-radius: 5px;
}

td {
  vertical-align: top;
}

/* to make a space between the headers in table sandwich_ingredients*/ 
.table-header {
  padding: 10px; /* or margin: 10px; */
  font-size: 20px;
  }

