<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Alerts List</title>
</head>
<body>
	<h1>Alerts List</h1>
	<p>
		Total number of alerts: <span th:text="${nbAlertsOfQuantities}"></span>
	</p>

	<table>
		<thead>
			<tr>
				<th>Ingredient Name</th>
				<th>Stock Quantity</th>
				<th>Threshold</th>
				<th>Alert Date</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="alert : ${alertsList}">
				<td th:text="${alert.ingredient.nomIngredient}"></td>
				<td th:text="${alert.ingredient.quantiteStock}"></td>
				<td th:text="${alert.ingredient.seuil}"></td>
				<td th:text="${alert.AlertDate}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>