<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{seance.add}">Ajout/Modif du seance</title>
</head>

<body>
	<main class="container" layout:fragment="content">
		<div class="row">
			<div class="col-1">
				<a th:href="@{/cours/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{seance.add}">Ajout d'un cours</h3>
			</div>
		</div>

		<div th:errors="${seanceDto.*}" class="border pl-3 bg-warning">Toutes
			les erreurs</div>

		<form method="post" th:object="${seanceDto}"
			th:action="@{/seance/addSeance}">
			<div class="form-group">
				<label for="code" th:text="#{seance.code}"></label> <input
					type="text" th:field="*{code}" class="form-control"
					th:classappend="${#fields.hasErrors('code')} ? is-invalid" required />
				<small id="error_code" th:errors="*{code}"
					class="form-text text-danger">Le code est invalide</small>
			</div>
			<div class="form-group">
				<label for="duree" th:text="#{seance.duree}"></label> <input
					type="text" th:field="*{duree}" class="form-control"
					th:classappend="${#fields.hasErrors('duree')} ? is-invalid"
					required /> <small id="error_duree" th:errors="*{duree}"
					class="form-text text-danger">Erreur Duree</small>
			</div>





			<div class="form-group">
				<label for="dateSeance" th:text="#{seance.dateSeance}"></label> <input
					type="Date" th:field="*{dateSeance}" class="form-control"
					th:classappend="${#fields.hasErrors('dateSeance')} ? is-invalid"
					required /> <small id="error_dateSeance" th:errors="*{dateSeance}"
					class="form-text text-danger">Erreur dateSeance</small>
			</div>


			<div class="form-group">
				<label for="moduleCode" th:text="#{seance.module.code}"></label> <input
					type="text" th:field="*{moduleCode}" class="form-control"
					th:classappend="${#fields.hasErrors('moduleCode')} ? is-invalid"
					readOnly="readonly" required /> <small id="error_moduleCode"
					th:errors="*{moduleCode}" class="form-text text-danger">Erreur
					module Code</small>
			</div>


			<button type="submit" class="btn btn-outline-primary"
				th:text="#{seance.liste}"></button>

		</form>
		
	</main>
</body>
</html>

