<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{seance.liste.titre}">Liste des seances</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<div class="row">
			<div class="col">
				<h3 th:text="#{seance.liste.titre}"></h3>
			</div>
		</div>
		<div class="row"></div>
		<div class="col"></div>


		<div th:if="${!liste.isEmpty()}">
			<table class="table">


				<thead>
					<tr>
						<th th:text="#{seance.code}">Code</th>
						<th th:text="#{seance.duree}">duree</th>
						<th th:text="#{seance.module.code}">module</th>
						<th th:text="#{actionsCRUD}">CRUD</th>


					</tr>
				</thead>
				<tbody>
					<tr th:each="listeSeance: ${liste}">
						<td th:text="${listeSeance.code}"></td>
						<td th:text="${listeSeance.duree}"></td>

						<td th:text="${listeSeance.module.code}"></td>




						<td>

							<a th:href="@{deleteSeance/{code}(code=${listeSeance.code})}"
							class="btn btn-danger">Delete</a>


						</td>


					</tr>
				</tbody>
			</table>
		</div>

		<a type="submit" class="btn btn-outline-primary"
			th:href="@{'/seance/addSeance'}" th:text="#{action.add}"> </a>
	</main>

</body>
</html>
