<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{module.add}">Ajout/Modif du cours</title>
</head>

<body>
	<main class="container" layout:fragment="content">
		<div class="row">
			<div class="col-1">
				<a th:href="@{/module/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{module.add}">Ajout d'un module</h3>
			</div>
		</div>
		<!--lafdil-6min-13-2Dec ici pour les erreurs--tous les champs de moduleDto-	${moduleDto.*} -->

		<div th:errors="${moduleDto.*}" class="border pl-3 bg-warning">Toutes les erreurs</div>

		<!-- lafdil 9min -- 13-2Dec --moduleDto.cours c'est qqchose a evaluer il va creer 
		un URI  @{'/module/' +... -->

			<form method="post" th:object="${moduleDto}" th:action="@{'/module/'+${moduleDto.cours}+'/add'}">
			<div class="form-group">
				<!--13-2Dec--20min -->
				<label for="cours" th:text="#{cours}">cours</label> 
				<input type="text" th:field="*{cours}" class="form-control"
					th:classappend="${#fields.hasErrors('cours')} ? is-invalid" readonly="readonly" /> 
				<small id="error_cours" th:errors="*{cours}" class="form-text text-danger">Le cours est invalide</small>
			</div>
			<!--lafdil chaque fois ca sera un block pour chaque champs--il y a  un div pour chaque group  -->
			<!-- et chaque group ca sera un label un input et un text en dessous en cas d' erreur...-->
			<div class="form-group">
				<!--module.code et le code du module---c et le text internationalise  -->
				<label for="code" th:text="#{module.code}">Code</label> 
				<input type="text" th:field="*{code}" class="form-control"
					th:classappend="${#fields.hasErrors('code')} ? is-invalid" readonly="readonly" /> 
				<small id="error_code" th:errors="*{code}" class="form-text text-danger">Le code est invalide</small>
			</div>
			<div class="form-group">
				<label for="dateDebut" th:text="#{module.dateDebut}"></label> 
				<input type="date" th:field="*{dateDebut}" class="form-control"
					th:classappend="${#fields.hasErrors('dateDebut')} ? is-invalid" required /> 
				<small id="error_dateDebut" th:errors="*{dateDebut}" class="form-text text-danger">Erreur dateDebut</small>
			</div>
		<!-- 	lafdil 13-2Dec 17min  s' il ya des erreurs sur le champs dateFin(voir tag small)
			il va ecrire le message en rouge en dessous -->
			<div class="form-group">
				<label for="dateFin" th:text="#{module.dateFin}"></label> 
				<input type="date" th:field="*{dateFin}" class="form-control"
					th:classappend="${#fields.hasErrors('dateDebut')} ? is-invalid" required /> 
				<small id="error_dateFin" th:errors="*{dateFin}" class="form-text text-danger">Erreur dateFin</small>
			</div>
			<!--lafdil 13-2Dec 22 min  -->
			<div class="form-group">
				<label for="professeur" th:text="#{professeur}"></label> 
				<select th:field="*{professeur}" class="form-control"
					th:classappend="${#fields.hasErrors('professeur')} ? is-invalid" required > 
					<option th:each="prof:${profs}" th:value="${prof}"
							th:text= "${prof}">vo</option>
				</select>
				<small id="error_professeur" th:errors="*{professeur}" class="form-text text-danger">Erreur professeur</small>
			</div>
			<!--lafdil 13-2Dec 24 min  variable mas c'est comme ca qu'on l'appele dans le controlleur...choixMoment variable contiendra donc matin, APM et S-->
			<div class="form-group">
				<div class="custom-control custom-checkbox custom-control-inline"
						th:each="choixMoment : ${mas}">
					<input type="checkbox" class="custom-control-input"
						th:onclick = "javascript: selectOne(this)"
						th:field="*{moment}" th:value="${choixMoment}" /> 
					<label class="custom-control-label" 
						th:for="${#ids.prev('moment')}" th:text="'&nbsp&nbsp'+${choixMoment}">Info 
					</label>
				</div>
				<!--lafdil 13-2Dec 29 min  s'il ya des erreurs sur le champs moment, on met Erreur moment -->
				<small th:errors="*{moment}" class="form-text text-danger">Erreur moment</small>
			</div>
			<!-- lafdil 13-2Dec 29 min-- action.add texte d'internationalisation on le bougera pas (nouveau) -->
			<button type="submit" class="btn btn-outline-primary" th:text="#{action.add}"></button>
		</form>
	</main>
<div layout:fragment="optional">
	<script type= "text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	function selectOne(box){
		const boxes2 =document.querySelectorAll('[id=^ moment]')
		boxes2.forEach((item)=>{
		if (item !== box) item.checked = false
})}

/*]]>*/ 
	</script>
</div>

</body>
</html>
