<!-- lafdil a la ligne 4 on a ajoute spring-security -->
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{module.liste.titre}">Liste des modules</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<div class="row">
			<div class="col">
				<h3 th:text="#{module.liste.titre}"></h3>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<!-- 	lafdil liste c est ce qu on a dans le controlleur---attibut du model 2h15
			lafdil si la liste n' est pas vide il va afficher la div  23--56 -->

				<div th:if="${!liste.isEmpty()}">
					<table class="table">
						<!-- lafdil 2h23--6Dec video de 3h # c est l' internationalisation-de la ligne 32 a 36 si j'execute ma page html 
					il mettra ces noms de colonnes (Code, Debut, Fin, CRUD)
					mais des que ca passe par le moteur de template..ca va etre remplaces par les valeurs des cles 
					lafdil examen a la derniere th je l' ai change...only the user with the role admin can see that-->
						<thead>
							<tr>
								<th th:text="#{module.code}">Code</th>
								<th th:text="#{module.dateDebut}">Debut</th>
								<th th:text="#{module.dateFin}">Fin</th>
								<th th:text="#{module.moment}">MAS</th>
								<th th:text="#{actionsCRUD}">CRUD</th>
								<th th:text="#{seance.presence}">CRUD</th>

							</tr>
						</thead>
						<!--  36-54 ici le dollar $ c est l'objet il va se repeter autant de fois qu'il a d elements dans ma liste  
					et module a la ligne 36 est une variable de parcours comme une boucle pour 
					et module vaudra le 1er module ..le 2eme module etc. -->


						<tbody>
							<tr th:each="module: ${liste}">
								<td th:text="${module.code}"></td>
								<td th:text="${module.dateDebut}"></td>
								<td th:text="${module.dateFin}"></td>
								<td th:text="${module.moment}"></td>
								<td><a th:href="@{'/module/'+ ${module.code}}"> <i
										class="fa fa-eye"></i> 
										
								</a> <a th:href="@{'/module/'+ ${module.code} +'/update'}"> <i	 class="fa-solid fa-pen"></i>

								</a> <span sec:authorize="hasRole('ADMIN')"
									th:lienDelete="@{'/module/__${module.code}__/delete'}"
									th:onclick='javascript: validationPost(this.getAttribute("lienDelete"))'>
										<i class="fa fa-trash text-danger"></i>
								</span></td>
								<td><a th:href="@{'/seance/'+${module.code}+'/liste'}"
									type="button" class="btn btn-primary">Show séances</a></td>

							</tr>
						</tbody>
					</table>
					<!-- lafdil s il n ya pas de module du tout il va afficher ca -->
				</div>
				<div th:unless="${!liste.isEmpty()}" th:text="#{module.Aucun}">
					La liste de modules est vide</div>
			</div>
		</div>
		<!--  ca c est le bouton tout a fait en bas dont le nom est nouveau module 
		action.add= Nouveau (clé, value) et module c'est module et 
		une fois que je clique sur ce button -->
		<div class="col">
			<a class="btn btn-outline-success" th:href="@{/module/add}"
				th:text="#{action.add}+' '+#{module}"></a>
		</div>
	</main>
	<div layout:fragment="optional">
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/myJS.js}"></script>
		<script type="text/javascript" th:inline="javascript">	
       /*<![CDATA[*/
       function validationPost(lien){
		var csrf={};
		csrf[ /*[[${#ctx.containsVariable('_csrf')}? ${_csrf.parameterName}:'_csrf']]*/ '_csrf' ] = /*[[${#ctx.containsVariable('_csrf')}?${_csrf.getToken()}:'']]*/ 'vide';
		bootbox.confirm(/*[[#{msgConfirmDelete}]]*/ 'Sure?',
				function(ok){
					if (ok){ post(lien,csrf);}
				})
		}
        /*]]>*/					      
	  </script>
	</div>
</body>
</html>
