<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">PID</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css/}" />
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

	<!-- Main Navigation -->
	<div layout:fragment="header">
		<nav class="navbar navbar-expand-md navbar-light  bg-light">
			<a class="navbar-brand" href="http://www.isfce.org" target="_blank">
				<img th:src="@{/images/LogoISFCE.png}" width="40" height="40"
				class="d-inline-block align-top" alt=""> ISFCE
			</a>

			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" th:href="@{/}"
					th:text="#{navbar.home}">Home </a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="dropdown"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
					th:text="#{cours}">Cours</a>
					<div class="dropdown-menu" aria-labelledby="dropdown">
						<a class="dropdown-item" th:href="@{/cours/liste}"
							th:text="#{navbar.liste}">liste</a> <a class="dropdown-item"
							th:href="@{/cours/add}" th:text="#{action.add}">Nouveau</a>
					</div></li>
			</ul>

			<ul class="navbar-nav">
				<li class="nav-item dropdown" sec:authorize="isFullyAuthenticated()">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
					th:text="#{navbar.profile}"></a>
					<div class="dropdown-menu" aria-labelledby="dropdown">
						<a sec:authorize="isFullyAuthenticated()" class="dropdown-item"
							th:href="@{|/user/${#authentication.name}/update|}"> 
							<i class="fa fa-user" th:text="' '+#{user.changePw}"></i>
						</a>
						<div class="dropdown-divider"></div>
						<span class="dropdown-item text-muted"
							sec:authorize="isFullyAuthenticated()"
							th:text="${#authentication.authorities}"></span>
					</div>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" id="langDropdown"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
					th:text="${#locale.language} == 'fr' ? #{lang.french} : #{lang.english}">
				</a>
					<div class="dropdown-menu" aria-labelledby="langDropdown">

						<a class="dropdown-item"
							th:href="${#httpServletRequest.requestURI} + '?lang=fr'">
							<img th:src="@{/images/France.png}" width="30" height="20"
							th:text="'&nbsp'+#{lang.french}">
						</a> <a class="dropdown-item"
							th:href="${#httpServletRequest.requestURI} + '?lang=en'"> <img
							th:src="@{/images/England.png}" width="30" height="20"
							th:text="'&nbsp'+#{lang.english}">
						</a>
					</div></li>

				<li class="nav-item" sec:authorize="!isFullyAuthenticated()"><a
					sec:authorize="!isFullyAuthenticated()"
					class="fas fa-sign-in-alt fa-1x" aria-hidden="true"
					th:href="@{/login}"></a></li>

				<li class="nav-item" sec:authorize="isFullyAuthenticated()">
					<form th:action="@{/logout}" method="post">
						<Button type="submit" class="btn btn-outline-primary btn-sm">
							<span class="fas fa-sign-out-alt fa-1x" aria-hidden="true"
								th:text="${#authentication.name}"></span>
						</Button>
					</form>
				</li>
			</ul>

		</nav>
	</div>

	<!-- Content Section -->
	<main class="container" layout:fragment="content">
		<p>Cette partie sera remplacée par le fragment 'content'</p>
	</main>

	<!-- 	jQuery must come first, then Popper.js, bootstrap.js and others JS -->
	<div layout:fragment="scripts">
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</div>
	<!-- Optional Section -->
	<th:block layout:fragment="optional" />

	<footer>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col">
					<p class="text-right" th:text="'&copy;'+#{footer.message}">&copy;PID</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>